// Your variable overrides

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

//from solarized:
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$base0:     #839496;


//$blue:    #007bff !default;
$blue:      #268bd2 !default;
//$indigo:  #6610f2 !default;
$indigo:  #6c71c4 !default;
$purple:  #6f42c1 !default; //??????
//$pink:    #e83e8c !default;
$pink:    #d33682 !default;
//$red:     #dc3545 !default;
$red:     #dc322f !default;
//$orange:  #fd7e14 !default;
$orange:  #cb4b16 !default;
//$yellow:  #ffc107 !default;
$yellow:  #b58900 !default;
//$green:   #28a745 !default;
$green:   #859900 !default;
$teal:    #20c997 !default; //??????
//$cyan:    #17a2b8 !default;
$cyan:    #2aa198 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800,
    "base03":     $base03,
    "base02":     $base02,
    "base01":     $base01,
    "base00":     $base00,
    "base1":      $base1,
    "base2":      $base2,
    "base3":      $base3,
    "base0":      $base0
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval:      8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;


// Body
//
// Settings for the `<body>` element.

//$body-bg:                   $white !default;
$body-bg:                   $base03 !default;
//$body-color:                $gray-900 !default;
$body-color:                $base0 !default;


// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
